@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.9rem;
}
.navbar-links {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-links-logo {
  z-index: 2;
}

.navbar-links-logo img {
  /* width: 90%; */
}
.navbar-links-container {
  display: flex;
  flex-direction: row;
}
.nav-btn{
  background-color: #007146;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 40px;
  font-weight: 600;
  cursor: pointer;
}
.nav-btn-lp{
  background-color: #fff;
  border:1.4px solid #000;
  color: #000;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 40px;
  cursor: pointer;
}
.nav-btn:hover{
  transform: translateY(-1px);
}
.nav-btn-lp:hover{
  transform: translateY(-1px);
}

@media screen and (max-width: 700px) {
  .navbar {
      padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
      padding: 2rem;
  }
}
/* banner */

.brand-banner img{
  margin-bottom: 1rem ;
  width: 100%;
  object-fit: cover;
}

/* brand homepage */
.brand-hp-txt{
  margin:1.5rem 1rem 1rem 1rem;
  color: #000;
  font-weight: 650;
  font-size: 1.6rem;
}
/* cards */
.card-outer{
  cursor: pointer;
  /* margin-top: 1rem; */
  background:#FFFAFA;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 22vw;
  margin: 1rem;
}
.card-outer:hover{
  transform: translateY(-3px);
}
.card-img{
  flex-basis: 50%;
}
.card-img img{
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.card-info{
  flex-basis: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.card-info-heading{
  flex-basis: 20%;
  font-weight: 680;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.card-btn-txt{
  background: #32734E;
  border-radius: 40px;
  width: 100%;
  color: #fff;
  font-weight: 600;
  padding: 0.5rem;
  /* margin: 1rem; */
}
.card-btn{
  flex-basis: 20%;
}
.card-info-details{
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.687);
}
.card-info-timelines{
  flex-basis: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card-info-timelines-data{
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  color: rgba(0, 0, 0, 0.687);
}
.cards-cont{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.landing-bg-blur{
  z-index: 1;
  position: absolute;
  width: 1291px;
  height: 1070px;
  left: -600px;
  top: 50px;
  background: linear-gradient(245.7deg, #F1B9F9 22.92%, #A0E1FA 45.94%, #D3F8DB 85.03%);
  opacity: 0.5;
  filter: blur(150px);
  transform: rotate(-28.94deg);
}
.landing{
  overflow: hidden !important;
  width: 100%;
  height: 100%;
}
.modify{
  z-index: 5;
}

