.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin: 0px 40px;
    width: 100vw;
    padding: 10px 30px;
    height: 90px;

    .btn {
      width: 100px;
      height: 40px;
      border: 2px solid black;
      border-radius: 10px;
    }
  }
